<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Master Service{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Master</span> Service</h1>
            </div>
            <nav>
                <ul>
                    <li class="{% if request.url.path == '/' %}current{% endif %}"><a href="/">Home</a></li>
                    <li class="{% if request.url.path == '/subjects' %}current{% endif %}"><a
                            href="/subjects">Subjects</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>